@charset "utf-8";
/*public start*/
html,
body {
  position: relative;
  height: 100%;
}
.main {
  position: relative;
  height: 100%;
  overflow: hidden;
}
html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
body {
  font:
    normal 12px/180% "pingfang SC",
    "Microsoft YaHei",
    "helvetica neue";
  color: #333;
  background: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
}
body {
  max-height: 100%;
}
::-webkit-scrollbar {
  width: 0;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
a:link,
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #c00;
  text-decoration: underline;
}
a,
img {
  -webkit-touch-callout: none;
}
ol,
ul,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 100%;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*clear*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
  overflow: hidden;
}
.cf {
  zoom: 1;
}
/*=====public end=====*/
/*public*/
.swiper-container-p1 {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  position: relative;
  overflow: hidden;
}
/*main*/
.main_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/nybg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}
.logodw {
  position: absolute;
  top: 3vw;
  left: 50%;
  margin-left: -500px;
  width: 120px;
  height: auto;
}
.content_box {
  width: 860px;
  margin: 10vw auto 0 auto;
  text-align: center;
  -webkit-animation: flipInY 1.6s 1s 1;
  animation: flipInY 1.6s 1s 1;
  opacity: 0;
}
.pageBox {
  position: fixed;
  right: 0;
  top: 0;
  width: 6%;
  background: #976747;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.pagination1 {
  width: 28px;
  height: auto;
  background: url(../img/dianbg1.png) repeat-y top center;
  position: absolute;
}
.pagination1 .swiper-pagination-bullet {
  display: block;
  width: 13px;
  height: 14px;
  cursor: pointer;
  opacity: 1;
  margin-left: 7.5px;
  margin-bottom: 58px;
  background: #fff;
}
.pagination1 .swiper-pagination-bullet:last-child {
  margin-bottom: 0;
}
.pagination1 .swiper-pagination-bullet-active {
  background: url(../img/dian2.png) no-repeat;
  width: 28px;
  height: 28px;
  margin-left: 0;
  margin-top: -7px;
  display: block;
}
.pages:last-child .arrow2 {
  display: none;
}
/*cover*/
.page_cover {
  background: url("../img/fmbg.jpg") center no-repeat;
  background-size: cover;
}
.arrow {
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-animation: up 1.6s infinite;
  animation: up 1.6s infinite;
  z-index: 99;
}
.arrow img.mob {
  display: none;
}
.arrow img.pc {
  display: inline-block;
}
.content_box2 {
  width: 1060px;
  margin: 0 auto;
  overflow: hidden;
}
.content_box3 {
  width: 1130px;
  margin: 0 auto;
  overflow: hidden;
}
.title {
  margin-top: 3%;
  text-align: left;
}
.title img {
  cursor: pointer;
}
.daoyu {
  background: url(../img/nybg1.png) no-repeat top center;
  width: 1056px;
  height: 544px;
  margin: 5% auto 0 auto;
}
.daoyu h2 {
  padding: 2vw 0 1vw 0;
  text-align: center;
}
.daoyu p {
  margin: 0.5vw auto 0 auto;
  line-height: 34px;
  color: #6a3e20;
  font-family: \9ED1\4F53;
  font-size: 22px;
  width: 920px;
  text-indent: 2em;
  text-align: left;
  font-weight: bold;
}
.daoyu p a:link,
.daoyu p a:visited {
  color: #6a3e20;
}
.p3tit {
  margin: 10vw auto 0 auto;
  text-align: center;
}
.p3tit img {
  margin: 0.5vw auto;
  cursor: pointer;
  display: block;
}
.title01 {
  margin-top: 3vw;
  text-align: center;
}
.gjcbg {
  background: url("../img/p4bg.png") center no-repeat;
  width: 1131px;
  height: 392px;
  margin: 1vw auto 0 auto;
  position: relative;
}
.gjcbg1 {
  background: url("../img/p4bg2.png") center no-repeat;
  width: 1002px;
  height: 390px;
}
.gjcbg2 {
  background: url("../img/p4bg3.png") center no-repeat;
  width: 932px;
  height: 310px;
  margin: 2vw auto 0 auto;
}
.gjcbg3 {
  background: url("../img/p4bg4.png") center no-repeat;
  width: 953px;
  height: 232px;
  margin: 3vw auto 0 auto;
}
.gjcbg span {
  font-size: 28px;
  color: #fff;
  font-family: \9ED1\4F53;
  position: absolute;
  display: inline-block;
  height: 74px;
  line-height: 74px;
  padding: 0 5px;
  cursor: pointer;
  font-weight: 600;
}
.gjcbg span.cy01 {
  left: 165px;
  top: 0;
}
.gjcbg span.cy02 {
  left: 420px;
  top: 0;
}
.gjcbg span.cy03 {
  left: 675px;
  top: 0;
}
.gjcbg span.cy04 {
  left: 915px;
  top: 0;
}
.gjcbg span.cy05 {
  left: 50px;
  top: 79px;
}
.gjcbg span.cy06 {
  left: 290px;
  top: 79px;
}
.gjcbg span.cy07 {
  left: 550px;
  top: 79px;
}
.gjcbg span.cy08 {
  left: 125px;
  top: 158px;
}
.gjcbg span.cy09 {
  left: 380px;
  top: 158px;
}
.gjcbg span.cy10 {
  left: 615px;
  top: 158px;
}
.gjcbg span.cy11 {
  left: 885px;
  top: 158px;
}
.gjcbg span.cy12 {
  left: 210px;
  top: 239px;
}
.gjcbg span.cy13 {
  left: 550px;
  top: 239px;
}
.gjcbg span.cy14 {
  left: 820px;
  top: 239px;
}
.gjcbg span.cy15 {
  left: 395px;
  top: 319px;
}
.gjcbg span.cy16 {
  left: 645px;
  top: 319px;
}
.gjcbg span.cy17 {
  left: 20px;
  top: 0px;
}
.gjcbg span.cy18 {
  left: 225px;
  top: 0px;
}
.gjcbg span.cy19 {
  left: 545px;
  top: 0px;
}
.gjcbg span.cy20 {
  left: 795px;
  top: 0px;
}
.gjcbg span.cy21 {
  left: 195px;
  top: 79px;
}
.gjcbg span.cy22 {
  left: 450px;
  top: 79px;
}
.gjcbg span.cy23 {
  left: 330px;
  top: 158px;
}
.gjcbg span.cy24 {
  left: 570px;
  top: 158px;
}
.gjcbg span.cy25 {
  left: 150px;
  top: 236px;
}
.gjcbg span.cy26 {
  left: 525px;
  top: 236px;
}
.gjcbg span.cy27 {
  left: 310px;
  top: 315px;
}
.gjcbg span.cy28 {
  left: 565px;
  top: 315px;
}
.gjcbg span.cy29 {
  left: 20px;
  top: 0px;
}
.gjcbg span.cy30 {
  left: 295px;
  top: 0px;
}
.gjcbg span.cy31 {
  left: 550px;
  top: 0px;
}
.gjcbg span.cy32 {
  left: 775px;
  top: 0px;
}
.gjcbg span.cy33 {
  left: 105px;
  top: 79px;
}
.gjcbg span.cy34 {
  left: 405px;
  top: 79px;
}
.gjcbg span.cy35 {
  left: 300px;
  top: 157px;
}
.gjcbg span.cy36 {
  left: 550px;
  top: 157px;
}
.gjcbg span.cy37 {
  left: 220px;
  top: 236px;
}
.gjcbg span.cy38 {
  left: 20px;
  top: 0px;
}
.gjcbg span.cy39 {
  left: 290px;
  top: 0px;
}
.gjcbg span.cy40 {
  left: 515px;
  top: 0px;
}
.gjcbg span.cy41 {
  left: 775px;
  top: 0px;
}
.gjcbg span.cy42 {
  left: 155px;
  top: 79px;
}
.gjcbg span.cy43 {
  left: 420px;
  top: 79px;
}
.gjcbg span.cy44 {
  left: 660px;
  top: 79px;
}
.gjcbg span.cy45 {
  left: 310px;
  top: 158px;
}

.picBox {
  position: relative;
  width: 441px;
}
.picBox span {
  display: block;
  margin-top: 8px;
  border-left: 6px solid #b6260a;
  height: 35px;
  text-align: left;
  font-size: 16px;
  padding-left: 9px;
}
.picBox span,
.picBox span a {
  color: #b6260a;
}
.picBox span b {
  font-size: 18px;
  display: block;
}
.navList {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  width: 8%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  height: 100vh;
}
.navList ul li {
  font-size: 16px;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}
.navList ul li.active {
  color: #cab268;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
}
.tishi {
  background: url("../img/titlebg.png") center no-repeat;
  width: 308px;
  height: 58px;
  font-size: 24px;
  line-height: 55px;
  font-family: \9ED1\4F53;
  opacity: 0;
  right: 6.01vw;
  position: fixed;
  color: #fff;
  z-index: 99;
  padding-left: 15px;
}
.xiaoz {
  font-size: 16px;
}
.tanchu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  text-align: center;
  display: none;
}
.tanchu .title {
  margin-top: 0px;
}
.tcny {
  position: absolute;
  top: 2vw;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  height: 818px;
  z-index: 999;
  background: url("../img/tc.png") center no-repeat;
}
.tanchu .bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.tanchu div.close {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../img/close.png") no-repeat;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-size: contain;
}
.tanchu div.tcbox {
  margin: 2vw auto 0 auto;
  width: 1000px;
  display: none;
}
.tanchu div.tcbox h1 {
  color: #6e4633;
  font-size: 36px;
  font-family: \9ED1\4F53;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 1vw;
}
.tanchu div.tcbox p {
  color: #6e4633;
  font-size: 18px;
  font-family: "PingFang SC", "Lantinghei SC";
  line-height: 34px;
  text-indent: 2em;
  font-weight: 600;
}
.tanchu div.tcbox p.nocu {
  font-weight: normal;
}
.tanchu div.tcbox h1 a:link,
.tanchu div.tcbox h1 a:visited,
.tanchu div.tcbox p a:link,
.tanchu div.tcbox p a:visited {
  color: #6e4633;
}
.tanchu div.tcbox .tcpic {
  background: url("../img/tcbg.png") no-repeat top center;
  width: 680px;
  height: 420px;
  margin: 0.5vw auto 0 auto;
  padding-top: 24px;
  position: relative;
}
.tanchu div.tcbox .tcpic span {
  background: url("../img/play.png") no-repeat top center;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 25px;
  bottom: 30px;
  background-size: contain;
}
.tanchu div.tcbox .list {
  margin: 0.5vw auto 0 auto;
}
.tanchu div.tcbox .list li {
  line-height: 42px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  width: 450px;
  margin: 0 24px 0 20px;
  float: left;
  text-align: left;
}
.tanchu div.tcbox .list li:before {
  position: absolute;
  left: 2px;
  top: 18px;
  width: 5px;
  height: 5px;
  content: "";
  background: #6e4633;
  border-radius: 50%;
}
.copyright {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 20px;
  color: #333;
  display: none;
}
@media all and (min-device-width: 0px) and (max-device-width: 666px) {
  .logodw {
    margin-left: -40%;
    width: 22%;
    top: 16vw;
  }
  .copyright {
    bottom: 8vw;
    font-size: 20px;
    line-height: 34px;
  }
  .page_cover {
    background: url(../img/sjfm.jpg) center no-repeat;
    background-size: cover;
  }
  .main_content {
    background: url(../img/sjbg1.jpg) center no-repeat;
    background-size: cover;
  }
  .content_box {
    font-size: 34px;
    width: 80%;
    margin: 46vw auto 0 auto;
  }
  .content_box img {
    width: 100%;
  }
  .daoyu {
    background: url("../img/sjnybg1.png") no-repeat top center;
    width: 100%;
    height: 100vw;
    margin: 5vw auto 0 auto;
    background-size: contain;
  }
  .daoyu h2 {
    padding: 6vw 0 1vw 0;
    width: 82vw;
    margin: 0 auto;
  }
  .daoyu p {
    width: 70vw;
    margin: 3vw auto 0 auto;
    line-height: 38px;
    font-size: 26px;
  }
  .arrow img.pc,
  .pageBox {
    display: none !important;
  }
  .arrow img.mob {
    display: inline-block;
    width: 8vw;
  }
  .arrow {
    bottom: 12% !important;
  }
  .content_box2,
  .content_box3 {
    width: 90%;
    margin-left: 5%;
  }
  .title {
    margin-top: 16vw;
    text-align: center;
  }
  .title img {
    width: 88%;
  }
  .title h1 {
    margin: 3% auto 4% auto;
    font-size: 50px;
  }
  .title p {
    font-size: 36px;
    line-height: 180%;
  }
  .pagination1 {
    display: block;
  }
  .p3tit {
    margin: 48vw auto 0 auto;
  }
  .p3tit img {
    margin: 2vw auto;
  }
  .title01 {
    margin-top: 5vw;
  }
  .title01 img {
    width: 74%;
  }
  .title02 img {
    width: 98%;
  }
  .gjcbg {
    background: url("../img/sjp4bg.png") center no-repeat;
    width: 692px;
    height: 661px;
    margin: 1vw auto 0 auto;
    position: relative;
  }
  .gjcbg1 {
    background: url("../img/sjp4bg2.png") center no-repeat;
    width: 689px;
    height: 574px;
    margin: 4vw auto 0 auto;
  }
  .gjcbg2 {
    background: url("../img/sjp4bg3.png") center no-repeat;
    width: 710px;
    height: 410px;
    margin: 7vw auto 0 auto;
  }
  .gjcbg3 {
    background: url("../img/sjp4bg4.png") center no-repeat;
    width: 622px;
    height: 409px;
    margin: 7vw auto 0 auto;
  }
  .gjcbg span.cy01 {
    left: 25px;
    top: 0;
  }
  .gjcbg span.cy02 {
    left: 260px;
    top: 0;
  }
  .gjcbg span.cy03 {
    left: 480px;
    top: 0;
  }
  .gjcbg span.cy04 {
    left: 85px;
    top: 84px;
  }
  .gjcbg span.cy05 {
    left: 330px;
    top: 84px;
  }
  .gjcbg span.cy06 {
    left: 525px;
    top: 84px;
  }
  .gjcbg span.cy07 {
    left: 210px;
    top: 168px;
  }
  .gjcbg span.cy08 {
    left: 445px;
    top: 166px;
  }
  .gjcbg span.cy09 {
    left: 130px;
    top: 251px;
  }
  .gjcbg span.cy10 {
    left: 330px;
    top: 250px;
  }
  .gjcbg span.cy11 {
    left: 303px;
    top: 418px;
  }
  .gjcbg span.cy12 {
    left: 200px;
    top: 335px;
  }
  .gjcbg span.cy13 {
    left: 70px;
    top: 418px;
  }
  .gjcbg span.cy14 {
    left: 180px;
    top: 502px;
  }
  .gjcbg span.cy15 {
    left: 410px;
    top: 502px;
  }
  .gjcbg span.cy16 {
    left: 325px;
    top: 587px;
  }
  .gjcbg span.cy17 {
    left: 175px;
    top: 0px;
  }
  .gjcbg span.cy18 {
    left: 410px;
    top: 0px;
  }
  .gjcbg span.cy19 {
    left: 130px;
    top: 83px;
  }
  .gjcbg span.cy20 {
    left: 360px;
    top: 83px;
  }
  .gjcbg span.cy21 {
    left: 35px;
    top: 168px;
  }
  .gjcbg span.cy22 {
    left: 270px;
    top: 168px;
  }
  .gjcbg span.cy23 {
    left: 475px;
    top: 167px;
  }
  .gjcbg span.cy24 {
    left: 210px;
    top: 251px;
  }
  .gjcbg span.cy25 {
    left: 140px;
    top: 332px;
  }
  .gjcbg span.cy26 {
    left: 335px;
    top: 416px;
  }
  .gjcbg span.cy27 {
    left: 175px;
    top: 500px;
  }
  .gjcbg span.cy28 {
    left: 435px;
    top: 500px;
  }
  .gjcbg span.cy29 {
    left: 20px;
    top: 0px;
  }
  .gjcbg span.cy30 {
    left: 295px;
    top: 0px;
  }
  .gjcbg span.cy31 {
    left: 520px;
    top: 0px;
  }
  .gjcbg span.cy32 {
    left: 135px;
    top: 84px;
  }
  .gjcbg span.cy33 {
    left: 335px;
    top: 84px;
  }
  .gjcbg span.cy34 {
    left: 210px;
    top: 167px;
  }
  .gjcbg span.cy35 {
    left: 450px;
    top: 167px;
  }
  .gjcbg span.cy36 {
    left: 310px;
    top: 252px;
  }
  .gjcbg span.cy37 {
    left: 150px;
    top: 336px;
  }
  .gjcbg span.cy38 {
    left: 150px;
    top: 0px;
  }
  .gjcbg span.cy39 {
    left: 440px;
    top: 0px;
  }
  .gjcbg span.cy40 {
    left: 25px;
    top: 83px;
  }
  .gjcbg span.cy41 {
    left: 290px;
    top: 83px;
  }
  .gjcbg span.cy42 {
    left: 155px;
    top: 167px;
  }
  .gjcbg span.cy43 {
    left: 420px;
    top: 167px;
  }
  .gjcbg span.cy44 {
    left: 340px;
    top: 251px;
  }
  .gjcbg span.cy45 {
    left: 195px;
    top: 334px;
  }
  .tcny {
    position: absolute;
    top: 10vw;
    left: 50%;
    margin-left: -362px;
    width: 725px;
    height: 1036px;
    z-index: 999;
    background: url("../img/sjtc.jpg") center no-repeat;
  }
  .tanchu div.tcbox {
    width: 680px;
  }
  .tanchu div.tcbox .title {
    margin-top: 8vw;
  }
  .tanchu div.tcbox p {
    font-size: 26px;
    line-height: 38px;
    text-align: left;
  }
  .tanchu div.tcbox .list li {
    font-size: 24px;
    width: 630px;
  }
  .tanchu div.tcbox .tcpic {
    margin: 4vw auto 3vw auto;
  }
  .navList {
    display: none !important;
  }
  @keyframes up {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
    }
  }
  @-webkit-keyframes up {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.8);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
    }
  }
}
/*up*/
@keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.9);
  }
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.9);
  }
}
html {
  overflow: hidden;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}
.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}
