.fenzhuyehand {
    background: linear-gradient(145deg, #d32f2f, #b71c1c);
    height: 300px;
}

.fenzhuyehand h1 {
    font-size: 3em;
    color: #ffe692;
    padding-top: 111px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0 0 20px #000;
}

.party-history-timeline {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    font-family: '微软雅黑', sans-serif;
}

